<!--<p *ngIf="!status"><em>Loading...</em></p>-->
<nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['/home/domainexpert']">Domain Expert</a>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <app-post>
                </app-post>
            </div>
            <div>
                <app-feed>
                    
                </app-feed>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>