<nav class="sidebar">
    <div class="sidebar-brand">
        <a href="#">

            <span class="pl-25">
                App Name
            </span>
            <i class="fa fa-align-left fa-2x faa sidebar-toggle fa-pull-right pt-20" onclick="toggle();"></i>
        </a>
    </div>
    

    <ul>
        
       
        <li>
            <a  asp-controller="Roles" asp-action="Index">
                <i class="fa fa-home fa-2x faa"></i>
                <span class="nav-text">
                  Roles
                </span>
                <i class="fa fa-caret-right fa-2x faa"></i>
            </a>

        </li>
        <li>
            <a asp-controller="Users" asp-action="Index">
                <i class="fa fa-laptop fa-2x faa"></i>
                <span class="nav-text">
                    Users
                </span>
                <i class="fa fa-caret-right fa-2x faa"></i>
            </a>

        </li>
        <li >
            <a asp-controller="MessageTemplate" asp-action="Index">
                <i class="fa fa-list fa-2x faa"></i>
                <span class="nav-text">
                   Messsage Template
                </span>
                <i class="fa fa-caret-right fa-2x faa"></i>
            </a>

        </li>
        
       
    </ul>

</nav>