<div *ngFor="let item of status">
    <div class="panel border">
        <div class="panel-heading nomargint">
            <div class="row">
                <div class="col-md-1">
                    <img src="" height="45" width="45" alt="" />
                </div>
                <div class="col-md-11 pl20">
                    <div class="name">{{ item._id }}</div>
                    <div class="Date">
                        {{ item.updateTime }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body ">
            <div class="row ">
                <div class="col-xs-12">
                    <p>
                        {{ item.status }} || {{ item.type }}

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>