<h1>Admin Dashboard</h1>
<br/>

<a asp-controller="Roles" asp-action="Index">Roles Admin</a><br/>
<a asp-controller="Users" asp-action="Index">Users Admin</a><br />
<a asp-controller="MessageTemplate" asp-action="Index">MessageTemplate Admin</a><br />
