<div class="panel panel-default">
    <div class="panel-heading mi-hi-40">
        <span class="pull-left">
            Type
        </span>
        <span class="pull-right">
            {{status.updateTime| dateFormat | date:'medium'}}
            <!--|{{status.updatedAgo | dateFormat }} ago-->

        </span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{status.status}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{status.likesCounts}} likes | {{status.commentsCounts}} Comments Delete Edit
            </div>
        </div>
    </div>
    <div class="panel-footer mi-hi-40">
        <div class="col-xs-1">
            <i class="fa fa-heart"></i>
        </div>
        <div class="col-xs-11">
            <!--<app-comment class="form-control input-sm mar-to--5 border-hidden">

            </app-comment>-->

            <!--<input type="text" placeholder="add a comment" class="form-control input-sm mar-to--5 border-hidden" />-->

        </div>

    </div>
</div>

